{
    "openapi": "3.0.3",
    "info": {
        "title": "Zabira Academy Public API",
        "version": "1.1.0",
        "description": "Public and student APIs for the Zabira Academy website and mobile apps.\n\n**Authentication:** send `Authorization: Bearer <JWT>` on protected operations. Tokens are issued by `POST /auth/login.php` (portal `student`) or `POST /auth/google_auth.php`.\n\nAdmin, SuperAdmin, teacher-studio, OMS admin, webhooks, cron, and internal debug endpoints are **not** part of this specification.\n\nStandard envelope:\n\n```json\n{ \"success\": true, \"message\": \"…\", \"data\": {} }\n```"
    },
    "servers": [
        {
            "url": "https://api.zabiraacademy.com/api",
            "description": "Production"
        }
    ],
    "tags": [
        {
            "name": "Authentication",
            "description": "Login, registration, password reset, and token refresh."
        },
        {
            "name": "Students",
            "description": "Authenticated student workspace: dashboard, lessons, progress, free trials."
        },
        {
            "name": "Profile",
            "description": "Student profile, avatar, and password."
        },
        {
            "name": "Courses",
            "description": "Public course catalogue, enrollment, reviews, and course quizzes."
        },
        {
            "name": "Library",
            "description": "Public library catalogue and collections."
        },
        {
            "name": "Books",
            "description": "Purchased books, PDF access, and book checkout."
        },
        {
            "name": "Store",
            "description": "Public store catalogue, product details, and store checkout."
        },
        {
            "name": "Cart",
            "description": "Authenticated shopping cart."
        },
        {
            "name": "Wishlist",
            "description": "Authenticated wishlist."
        },
        {
            "name": "Orders",
            "description": "Student order history, tracking, invoices, and cancellation."
        },
        {
            "name": "Payments",
            "description": "Checkout sessions, gateways, coupons, plans, and verification."
        },
        {
            "name": "Events",
            "description": "Public events and student registrations."
        },
        {
            "name": "Scholarships",
            "description": "Public scholarship content, applications, and donations."
        },
        {
            "name": "Kids",
            "description": "Public kids categories."
        },
        {
            "name": "Quizzes",
            "description": "Kids quizzes."
        },
        {
            "name": "Games",
            "description": "Kids games."
        },
        {
            "name": "Notifications",
            "description": "Student notifications."
        },
        {
            "name": "Certificates",
            "description": "Student certificates and public certificate verification."
        },
        {
            "name": "Search",
            "description": "Public SEO and content lookup."
        },
        {
            "name": "Public Content",
            "description": "Gallery, nasheed, media, announcements, contact, and homepage content."
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "description": "Student/user JWT from login or Google Sign-In. Do not send admin tokens."
            }
        },
        "schemas": {
            "StandardResponse": {
                "type": "object",
                "required": [
                    "success",
                    "message"
                ],
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "example": "OK"
                    },
                    "data": {
                        "nullable": true
                    }
                }
            },
            "ErrorResponse": {
                "type": "object",
                "required": [
                    "success",
                    "message"
                ],
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": false
                    },
                    "message": {
                        "type": "string",
                        "example": "Unauthorized: No token provided."
                    },
                    "data": {
                        "nullable": true
                    }
                }
            }
        }
    },
    "paths": {
        "/announcements/active.php": {
            "get": {
                "tags": [
                    "Public Content"
                ],
                "summary": "public. Returns the current site-wide banner, if any.",
                "description": "Public endpoint — no authentication.\n\nAudience: PUBLIC.\n\nImplementation: `api/announcements/active.php`.",
                "operationId": "get_announcements_active",
                "security": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Method not allowed"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/forgot_password.php": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Auth: Forgot Password",
                "description": "Public endpoint — no authentication.\n\nAudience: PUBLIC.\n\nImplementation: `api/auth/forgot_password.php`.",
                "operationId": "post_auth_forgot_password",
                "security": [],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "student@example.com"
                                    }
                                },
                                "required": []
                            },
                            "example": {
                                "email": "student@example.com"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Bad request"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Method not allowed"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Server error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/google_auth.php": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Auth: Google Auth",
                "description": "Public endpoint — no authentication.\n\nAudience: PUBLIC.\n\nImplementation: `api/auth/google_auth.php`.",
                "operationId": "post_auth_google_auth",
                "security": [],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id_token": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "credential": {
                                        "type": "string",
                                        "example": "credential"
                                    }
                                },
                                "required": []
                            },
                            "example": {
                                "id_token": 1,
                                "credential": "credential"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Bad request"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized — missing or invalid Bearer token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthorized — missing or invalid Bearer token"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Forbidden"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Method not allowed"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Too many requests"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Server error"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "HTTP 503",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "HTTP 503"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/login.php": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Auth: Login",
                "description": "Public endpoint — no authentication.\n\nAudience: PUBLIC.\n\nImplementation: `api/auth/login.php`.",
                "operationId": "post_auth_login",
                "security": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "student@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "********"
                                    },
                                    "portal": {
                                        "type": "string",
                                        "example": "student",
                                        "description": "Login portal. Use `student` for website and mobile apps."
                                    }
                                },
                                "required": [
                                    "email",
                                    "password",
                                    "portal"
                                ]
                            },
                            "example": {
                                "email": "student@example.com",
                                "password": "********",
                                "portal": "student"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Bad request"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized — missing or invalid Bearer token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthorized — missing or invalid Bearer token"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Forbidden"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Method not allowed"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Too many requests"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Server error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/profile.php": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Auth: Profile",
                "description": "Authenticated student/user — required `Authorization: Bearer <JWT>`.\n\nAudience: STUDENT.\n\nImplementation: `api/auth/profile.php`.",
                "operationId": "get_auth_profile",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized — missing or invalid Bearer token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthorized — missing or invalid Bearer token"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Not found"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Server error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/refresh.php": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Auth: Refresh",
                "description": "Authenticated student/user — required `Authorization: Bearer <JWT>`.\n\nAudience: STUDENT.\n\nImplementation: `api/auth/refresh.php`.",
                "operationId": "post_auth_refresh",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized — missing or invalid Bearer token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthorized — missing or invalid Bearer token"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Forbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Not found"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Method not allowed"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Server error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/register.php": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Auth: Register",
                "description": "Public endpoint — no authentication.\n\nAudience: PUBLIC.\n\nImplementation: `api/auth/register.php`.",
                "operationId": "post_auth_register",
                "security": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "full_name": {
                                        "type": "string",
                                        "example": "full_name"
                                    },
                                    "fullName": {
                                        "type": "string",
                                        "example": "fullName"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "student@example.com"
                                    },
                                    "mobile": {
                                        "type": "string",
                                        "example": "mobile"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "phone"
                                    },
                                    "contact_number": {
                                        "type": "string",
                                        "example": "contact_number"
                                    },
                                    "gender": {
                                        "type": "string",
                                        "example": "gender"
                                    },
                                    "date_of_birth": {
                                        "type": "string",
                                        "example": "date_of_birth"
                                    },
                                    "dateOfBirth": {
                                        "type": "string",
                                        "example": "dateOfBirth"
                                    },
                                    "country": {
                                        "type": "string",
                                        "example": "country"
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "state"
                                    },
                                    "city": {
                                        "type": "string",
                                        "example": "city"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "********"
                                    },
                                    "accept_terms": {
                                        "type": "string",
                                        "example": "accept_terms"
                                    },
                                    "acceptTerms": {
                                        "type": "string",
                                        "example": "acceptTerms"
                                    }
                                },
                                "required": [
                                    "country",
                                    "state",
                                    "city"
                                ]
                            },
                            "example": {
                                "full_name": "full_name",
                                "fullName": "fullName",
                                "email": "student@example.com",
                                "mobile": "mobile",
                                "phone": "phone",
                                "contact_number": "contact_number",
                                "gender": "gender",
                                "date_of_birth": "date_of_birth",
                                "dateOfBirth": "dateOfBirth",
                                "country": "country",
                                "state": "state",
                                "city": "city",
                                "password": "********",
                                "accept_terms": "accept_terms",
                                "acceptTerms": "acceptTerms"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Created"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Bad request"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Method not allowed"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Conflict"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Too many requests"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Server error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/reset_password.php": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Auth: Reset Password",
                "description": "Public endpoint — no authentication.\n\nAudience: PUBLIC.\n\nImplementation: `api/auth/reset_password.php`.",
                "operationId": "post_auth_reset_password",
                "security": [],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "********"
                                    }
                                },
                                "required": []
                            },
                            "example": {
                                "password": "********"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Bad request"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Method not allowed"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Server error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/validate_reset_token.php": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Auth: Validate Reset Token",
                "description": "Public endpoint — no authentication.\n\nAudience: PUBLIC.\n\nImplementation: `api/auth/validate_reset_token.php`.",
                "operationId": "post_auth_validate_reset_token",
                "security": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Bad request"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Method not allowed"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Server error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cart/add.php": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Cart: Add",
                "description": "Authenticated student/user — required `Authorization: Bearer <JWT>`.\n\nAudience: STUDENT.\n\nAny authenticated user (student portal JWT).\n\nImplementation: `api/cart/add.php`.",
                "operationId": "post_cart_add",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "store_product_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "product_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "product_type": {
                                        "type": "string",
                                        "example": "product_type"
                                    },
                                    "store_variant_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "variant_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "quantity": {
                                        "type": "string",
                                        "example": "quantity"
                                    },
                                    "book_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "format": {
                                        "type": "string",
                                        "example": "format"
                                    },
                                    "book_format": {
                                        "type": "string",
                                        "example": "book_format"
                                    },
                                    "course_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "payment_plan": {
                                        "type": "string",
                                        "example": "payment_plan"
                                    },
                                    "plan_type": {
                                        "type": "string",
                                        "example": "plan_type"
                                    }
                                },
                                "required": [
                                    "store_product_id",
                                    "product_id",
                                    "book_id",
                                    "format"
                                ]
                            },
                            "example": {
                                "store_product_id": 1,
                                "product_id": 1,
                                "product_type": "product_type",
                                "store_variant_id": 1,
                                "variant_id": 1,
                                "quantity": "quantity",
                                "book_id": 1,
                                "format": "format",
                                "book_format": "book_format",
                                "course_id": 1,
                                "payment_plan": "payment_plan",
                                "plan_type": "plan_type"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Bad request"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized — missing or invalid Bearer token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthorized — missing or invalid Bearer token"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Method not allowed"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cart/checkout.php": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Cart: Checkout",
                "description": "Authenticated student/user — required `Authorization: Bearer <JWT>`.\n\nAudience: STUDENT.\n\nAny authenticated user (student portal JWT).\n\nImplementation: `api/cart/checkout.php`.",
                "operationId": "post_cart_checkout",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Bad request"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized — missing or invalid Bearer token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthorized — missing or invalid Bearer token"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Method not allowed"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "HTTP 503",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "HTTP 503"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cart/clear.php": {
            "delete": {
                "tags": [
                    "Cart"
                ],
                "summary": "Cart: Clear",
                "description": "Authenticated student/user — required `Authorization: Bearer <JWT>`.\n\nAudience: STUDENT.\n\nAny authenticated user (student portal JWT).\n\nImplementation: `api/cart/clear.php`.",
                "operationId": "delete_cart_clear",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized — missing or invalid Bearer token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthorized — missing or invalid Bearer token"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Method not allowed"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cart/count.php": {
            "get": {
                "tags": [
                    "Cart"
                ],
                "summary": "Cart: Count",
                "description": "Authenticated student/user — required `Authorization: Bearer <JWT>`.\n\nAudience: STUDENT.\n\nAny authenticated user (student portal JWT).\n\nImplementation: `api/cart/count.php`.",
                "operationId": "get_cart_count",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized — missing or invalid Bearer token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthorized — missing or invalid Bearer token"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Method not allowed"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cart/list.php": {
            "get": {
                "tags": [
                    "Cart"
                ],
                "summary": "Cart: List",
                "description": "Authenticated student/user — required `Authorization: Bearer <JWT>`.\n\nAudience: STUDENT.\n\nAny authenticated user (student portal JWT).\n\nImplementation: `api/cart/list.php`.",
                "operationId": "get_cart_list",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized — missing or invalid Bearer token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthorized — missing or invalid Bearer token"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Method not allowed"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cart/move_to_wishlist.php": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Cart: Move To Wishlist",
                "description": "Authenticated student/user — required `Authorization: Bearer <JWT>`.\n\nAudience: STUDENT.\n\nAny authenticated user (student portal JWT).\n\nImplementation: `api/cart/move_to_wishlist.php`.",
                "operationId": "post_cart_move_to_wishlist",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "course_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "required": [
                                    "course_id"
                                ]
                            },
                            "example": {
                                "course_id": 1
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Bad request"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized — missing or invalid Bearer token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthorized — missing or invalid Bearer token"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Method not allowed"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cart/remove.php": {
            "delete": {
                "tags": [
                    "Cart"
                ],
                "summary": "Cart: Remove",
                "description": "Authenticated student/user — required `Authorization: Bearer <JWT>`.\n\nAudience: STUDENT.\n\nAny authenticated user (student portal JWT).\n\nImplementation: `api/cart/remove.php`.",
                "operationId": "delete_cart_remove",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "cart_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "book_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "format"
                        }
                    },
                    {
                        "name": "book_format",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "book_format"
                        }
                    },
                    {
                        "name": "course_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Bad request"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized — missing or invalid Bearer token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthorized — missing or invalid Bearer token"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Not found"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Method not allowed"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cart/status.php": {
            "get": {
                "tags": [
                    "Cart"
                ],
                "summary": "Cart: Status",
                "description": "Authenticated student/user — required `Authorization: Bearer <JWT>`.\n\nAudience: STUDENT.\n\nAny authenticated user (student portal JWT).\n\nImplementation: `api/cart/status.php`.",
                "operationId": "get_cart_status",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "book_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "format"
                        }
                    },
                    {
                        "name": "book_format",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "book_format"
                        }
                    },
                    {
                        "name": "course_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Bad request"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized — missing or invalid Bearer token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthorized — missing or invalid Bearer token"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Method not allowed"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Server error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categories/list.php": {
            "get": {
                "tags": [
                    "Courses"
                ],
                "summary": "Categories: List",
                "description": "Public endpoint — no authentication.\n\nAudience: PUBLIC.\n\nImplementation: `api/categories/list.php`.",
                "operationId": "get_categories_list",
                "security": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Server error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/certificates/verify.php": {
            "get": {
                "tags": [
                    "Certificates"
                ],
                "summary": "Certificates: Verify",
                "description": "Public endpoint — no authentication.\n\nAudience: PUBLIC.\n\nImplementation: `api/certificates/verify.php`.",
                "operationId": "get_certificates_verify",
                "security": [],
                "parameters": [
                    {
                        "name": "code",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "code"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Method not allowed"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Server error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contact/submit.php": {
            "post": {
                "tags": [
                    "Public Content"
                ],
                "summary": "Contact: Submit",
                "description": "Public endpoint — no authentication.\n\nAudience: PUBLIC.\n\nImplementation: `api/contact/submit.php`.",
                "operationId": "post_contact_submit",
                "security": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "name"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "student@example.com"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "phone"
                                    },
                                    "subject": {
                                        "type": "string",
                                        "example": "subject"
                                    },
                                    "message": {
                                        "type": "string",
                                        "example": "message"
                                    }
                                },
                                "required": [
                                    "email"
                                ]
                            },
                            "example": {
                                "name": "name",
                                "email": "student@example.com",
                                "phone": "phone",
                                "subject": "subject",
                                "message": "message"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Bad request"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Method not allowed"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Validation error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Too many requests"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Server error"
                                }
                            }
                        }
                    },
                    "502": {
                        "description": "HTTP 502",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "HTTP 502"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/courses/preview_media.php": {
            "get": {
                "tags": [
                    "Courses"
                ],
                "summary": "Courses: Preview Media",
                "description": "Public endpoint — no authentication.\n\nAudience: PUBLIC.\n\nImplementation: `api/courses/preview_media.php`.",
                "operationId": "get_courses_preview_media",
                "security": [],
                "parameters": [
                    {
                        "name": "lesson_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/courses/public_details.php": {
            "get": {
                "tags": [
                    "Courses"
                ],
                "summary": "Courses: Public Details",
                "description": "Public; optional Bearer token may personalize the response.\n\nAudience: PUBLIC.\n\nImplementation: `api/courses/public_details.php`.",
                "operationId": "get_courses_public_details",
                "security": [
                    {
                        "bearerAuth": []
                    },
                    []
                ],
                "parameters": [
                    {
                        "name": "slug",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "sample-slug"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Successful response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Bad request"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Not found"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Server error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/courses/public_list.php": {
            "get": {
                "tags": [
                    "Courses"
                ],
                "summary": "Courses: Public List",
                "description": "Public endpoint — no authentication.\n\nAudience: PUBLIC.\n\nImplementation: `api/courses/public_list.php`.",
                "operationId": "get_courses_public_list",
                "security": [],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "search"
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "level",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "level"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "language"
                        }
                    },
                    {
                        "name": "price",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": 0
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "sort"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
[...]
